html,body {
    height: 100%;
}

body {
	background:-webkit-gradient(linear,0 0,0 bottom,from(#6b4a70),to(#bb457c));
	background:-webkit-linear-gradient(#6b4a70,#bb457c);
	background:linear-gradient(#6b4a70,#bb457c);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page { 
	display:table;
	overflow:hidden;
	margin:0px auto;
	height:100%;
	width:100%;
	max-width: 1280px;
}

.content_container {
	display:table-cell;
	vertical-align: middle;
}

.content {
	position: relative;
}

.content img {
	width:100%;
	display:block;
}

.aerosol {
	background: #0039a6;
	display:block;
	position: absolute;
	width: 10%;
	height: 10%;
	top: 50%;
	left:50%;
	border-radius: 5px;
}

.aerosol {
    -webkit-animation: glow 2s infinite alternate;
}

@-webkit-keyframes glow {
    to {
        box-shadow: 0 0 20px 5px white;
    }
}
