html {
    height: 100%;
}

body {
	background:-webkit-gradient(linear,0 0,0 bottom,from(#6b4a70),to(#bb457c));
	background:-webkit-linear-gradient(#6b4a70,#bb457c);
	background:linear-gradient(#6b4a70,#bb457c);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
	width:1280px;
	height:800px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-400px 0 0 -640px;
}
.wrapper img {
	width:100%;
	display:block;
}
